*.suo
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
.vs/
packages/
AppPackages/
BundleArtifacts/
DTAR_*/
*.nupkg
*.appx
*.lock.json
*.csproj.user

Package.StoreAssociation.xml
*_StoreKey.pfx
_pkginfo.txt

ipch/
*.sdf
*.opensdf
*.vcxproj.filters
*.vcxproj.user
*.opendb